*.class
bin/
.*
!/.gitignore
*.xml
*.png
*.iml
*.dot
target/**
dataset/**
mapping/**
./idea
*.jar
datasets/ml-100k/results/UserItemExpDBPedia/**
/scripts/*.pyc
datasets/books-8k/stored_prop/*
datasets/ml-100k/stored_prop/*
